.terminal {
  width: 300px;
  height: 550px;
  border: 10px;
  display: flex;
  border-color: #1b0749;
  border-style: ridge;
  background-color: #000000;
  color: #3c6b42;
  font-family: var(--font-mono);
  padding: 1rem;
  border-radius: 0.5rem;
  border-right: 15%;
  flex-direction: row;
  gap: 1rem;
  justify-content: baseline;
  align-items: baseline;
}

.centrilizer {
  width: 300px;
  height: 550px;
  border: 10px;
  display: flex;
  border-radius: 1%;
  border-color: #1b0749;
  border-style: ridge;
  cursor: crosshair;
  border-right: 15%;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: normal;
}
